
</div>

<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class=" col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/about">Interests</a></li>
                            <li><a href="/about">Books</a></li>
                            <li><a href="/about">Career</a></li>
                        </ul>

                    </div>
                    <div class="col-md-6 item text">
                        <h3>Morton Musonda</h3>
                        <p class="article">Morton Musonda is an Introverted person who loves to spend time on his computer coding, solving math problems and watching Tv shows. He is constantly seeking self improvement</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Morton Musonda © 2021</p>
            </div>
        </footer>
    </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>