<%- include("partials/head"); %>

		<h1>About</h1>
		<img id="profile" src="https://static.vecteezy.com/system/resources/thumbnails/001/234/725/small/side-portrait-of-a-black-man.jpg" alt="">

		<p class="article">I am a self-taught software developer. My interests in web development and programming in general, sparked after watching an episod of <a href="https://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)">Silicon Valley</a>. From then, on i started searching the net for resources on how to write software. I majored in Development Studies<a href="https://en.wikipedia.org/wiki/University_of_Zambia">University of Zambia</a>, it is during academic period that I developed an interest in software engineering.</p>
		<hr id="about-horizontal-rule">
		<div class="interests">

			<h3 id="sub-section-head">Interests</h3>
			<div class="row">
				<div class="col">
					<h4>Hobbies</h4>
					<ul>
						<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKZ_5-f7pu9Zr1D2CnNK8tNfgey244tf3LyQ&usqp=CAU" alt=""><a class="group-link"href="https://en.wikipedia.org/wiki/Computer_programming">I love to code</a></li>
						<li><img src="https://i1.wp.com/1.bp.blogspot.com/-ri-nLB4ITAo/V8mf41QPmtI/AAAAAAAAAZM/eswTnmY4WFEeQGn8Wd0EPKDigjsQGn1jwCEw/s1600/shutterstock_94488721.jpg?ssl=1" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/Mathematics">Love math</a></li>
						<li><img src="https://s-media-cache-ak0.pinimg.com/736x/69/c4/cd/69c4cd42f2d2701ac37c1eb1ba9faa0d.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/Film">I love movies</a></li>
						<li><img src="https://pbs.twimg.com/media/Da1wI8vXUAAyjQT.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/Art">I love Art</a></li>
					</ul>
				</div>

				<div class="col">
					<h4>Books</h4>
					<ul>
						<li><img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781416540151/the-iliad-9781416540151_hr.jpg" alt=""><a class="group-link"href="https://en.wikipedia.org/wiki/Iliad">The Iliad of Homer</a></li>
						<li><img src="https://images-na.ssl-images-amazon.com/images/I/81-QB7nDh4L.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/The_Lean_Startup">The lean startup</a></li>
						<li><img src="https://images-na.ssl-images-amazon.com/images/I/617VQLnBcVL.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/Film">How Google works</a></li>
						<li><img src="https://upload.wikimedia.org/wikipedia/en/5/5d/A_Dance_With_Dragons_US.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/A_Dance_with_Dragons">I love Art</a></li>
					</ul>
				</div>

				<div class="col">
					<h4>Careers</h4>
					<ul>
						<li><img src="https://www.austintec.com/wp-content/uploads/2019/04/types-of-engineers.jpg" alt=""><a class="group-link"href="https://en.wikipedia.org/wiki/Computer_programming">Engineering</a></li>
						<li><img src="https://www.nycastings.com/wp-content/uploads/2015/09/movie.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/Mathematics">Acting</a></li>
						<li><img src="https://openexpoeurope.com/wp-content/uploads/2018/11/1.jpeg.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/Film">Cyber Security</a></li>
						<li><img src="https://2aszhi3llh0x466uws21w6cc-wpengine.netdna-ssl.com/wp-content/uploads/A-Basic-Guide-To-Stock-Trading.jpg" alt=""><a class="group-link" href="https://en.wikipedia.org/wiki/Art">Stock Trading</a></li>
					</ul>
				</div>		
			</div>	
		</div>
<%- include("partials/bottom"); %>